body {
  margin: 0;
  background-color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Nav {
  background-color: red;
  margin: 10px 50px 10px;
  text-align: center;
}

.Article {
  background-color: antiquewhite;
  margin: 10px 50px 10px;
  height: 10px;
}