body {
  margin: 0;
  background-color: antiquewhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  margin: 10px 10px 10px;
  padding: 10px 50px 10px;
  background-color: #333;
}

.Nav {
  background-color: red;
  margin: 10px 50px 10px;
  text-align: center;
}

.Article {
  background-color: antiquewhite;
  margin: 10px 50px 10px;
  height: 100px;
}
