body {
  background-color: antiquewhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  margin: 10px;
  padding: 50px;
  background-color: #333;
}

.Nav {
  background-color: red;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}

.Article {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.Article-Image {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.Article-Image img {
  width: 95%;
  height: 95%;
}

.Article-Body {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  padding: 20px;
}

.Article-Title {
  display: flex;
  justify-content: center;
  background-color: red;
}

.Article-SubTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
}

.Article-SubTitle a {
  color: black;
}

.Article-Description {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: red;
  padding: 25px 100px;
}
